__pycache__/
tmpg9v_fisu/
downloaded files/
test.py
tmpz5cddikb/
tmp9cu4b4sb/
tmpfy0a_lcq/
__pycache__/
__pycache__/mongo_to_sql.cpython-312.pyc

test write.txt
test.py

tmp0kv96b6d/
tmpt2jf4xy8/
tmpwlpbrfuo/
tmp9w0yawxc/
